<div class="col-md-12">
	<h1>Welcome to Chit Chat. <small>(working name)</small></h1>
	<p class="lead">Click on a topic over there on the left to open a chat room.</p>
	<p class="lead">If you're logged in, you'll be automatically subscribed.</p>
	<p class="lead">To unsuscribe, simply close the room.</p>
</div>
