<div class="col-md-12">
	<h1>Welcome to Chit Chat</h1>
	<p class="lead">Click on a topic over there on the left to open a chat room.</p>
	<p class="lead">Register as a user to create your own rooms.</p>
	<p class="lead">If you're logged in, you'll be automatically subscribed to any rooms you open.</p>
	<p class="lead">To unsuscribe, simply close the room.</p>
</div>
