<form>
  <div class="form-group">
     <div class="input-group">
       <input name="message" type="text" class="message form-control" placeholder="Is this thing on?">
       <span class="input-group-btn">
         <button class="submit-message btn btn-default" type="button">Chat</button>
       </span>
     </div>
   </div>
</form>