<form>
  <div class="form-group">
     <div class="input-group">
       <input id="message" name="message" type="text" class="form-control" placeholder="Speak up">
       <span class="input-group-btn">
         <button id="submit-message" class="btn btn-default" type="button">Chat</button>
       </span>
     </div>
   </div>
</form>