<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Brew Journal</a>
  </div>
  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>    
    </ul>
    <ul id="user-login-nav" class="nav navbar-nav navbar-right">
      {{#if loggedIn}}
        <li><a>Hello!</a></li>
      {{else}}
        <li id="user-login">
          <a>login</a>
        </li>
        <li id="user-register">
          <a>register</a>
        </li>
      {{/if}}
    </ul>
  </div>
</div>