<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Default</h3>
  </div>
  <div class="messages panel-body">
    Loading Messages...
  </div>
  <div class="message-input panel-footer"></div>
</div>