{{!-- TODO: Fix this markup --}}
<input type="text" class="form-control" placeholder="Search...">
<h4>Sort by:</h4>
<select class="form-control">
  <option>Number Active</option>
  <option>Name</option>
</select>
<h3>Rooms</h3>
<ul class="nav nav-sidebar">
  <li class="active"><a href="#">Default <span class="pull-right badge">37</span></a></li>
  <li><a href="#">The Big Lebowski <span class="pull-right badge">25</span></a></li>
  <li><a href="#">JavaScript <span class="pull-right badge">17</span></a></li>
  <li><a href="#">Quat Copters <span class="pull-right badge">9</span></a></li>
</ul>