{{!-- TODO: Fix this markup --}}
{{!-- <input type="text" class="form-control" placeholder="Search...">
<h4>Sort by:</h4>
<select class="form-control">
  <option>Number Active</option>
  <option>Name</option>
</select>
<h3>Rooms</h3> --}}

{{#if user}}
<p><button class="btn btn-primary btn-block" id="create-room">Create Room</button><p>
{{/if}}

<ul class="nav nav-sidebar rooms"></ul>